
:root {
    --colorWhite: #fff;
    --colorBlack: #000;
}

body {
    font-family: 'Roboto', sans-serif;
    background: #fafafa;
}

#logo {
    display: block;
    max-width: 100%;
}

#search__section {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, .6);
    z-index: 2;
    transform: scale(0);
    transition: all .5s linear;
}

.search__container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
}

.search__container form {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
}

.search__close {
    position: absolute;
    top: 40px;
    right: 40px;
    width: 50px;
    height: 50px;
    background: -webkit-linear-gradient(-45deg, #9ff669 0%, #31de79 100%);
    border-radius: 50%;
    line-height: 50px;
    text-align: center;
    font-size: 24px;
    cursor: pointer;
    color: var(--colorWhite);
}

.clickSearch {
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    /* background: linear-gradient(to right, #28a745, #20c997); */
    background: -webkit-linear-gradient(-45deg, #9ff669 0%, #31de79 100%);
    color: var(--colorWhite);
    border-radius: 50%;
    cursor: pointer;
    
}

.customSearch {
    background-color: transparent;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-radius: 0;
    outline: none!important;
    border-bottom-color: var(--colorWhite)!important;
    color: var(--colorWhite)!important;
}

.customSearch:focus {
    background-color: transparent!important;
    outline: none!important;
    box-shadow: none!important;
}

.customSearch::-webkit-input-placeholder {
    color: var(--colorWhite)!important;
    font-size: 25px!important;
    letter-spacing: 1px;
  }

#header {
    margin: 20px 0;
}

.searchMargin {
    margin-top: 37px;
}

#assetsHeading {
    /* background: #6DA943; */
    /* background: linear-gradient(to right, #28a745, #20c997); */
    background: -webkit-linear-gradient(-45deg, #9ff669 0%, #31de79 100%);
}

.assets {
    color: var(--colorWhite);
}

#assetsHeading h1 {
    font-size: 30px;
    font-weight: 500;
    padding: 13px 15px;
    margin:0;
    
}

.showCaseHeading {
    background: var(--colorWhite);
    margin: 10px 0 0 0;
    box-shadow: 0px 24px 36px -11px rgba(0, 0, 0, 0.09);
    padding: 14px 0;
}

.showCaseHeading h4 {
    font-size: 20px;
    font-weight: 400;
    margin: 0;
}


.btn-custom {
    border-radius: 30px;
    /* background: linear-gradient(to right, #28a745, #20c997); */
    background: -webkit-linear-gradient(-45deg, #9ff669 0%, #31de79 100%);
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.09);
    color: var(--colorWhite);
    border: none;
    font-size: 14px;
    padding: 8px 17px;
}

#boxes {
    margin: 40px 0;
}


.box {
    box-shadow: 0px 24px 36px -11px rgba(0, 0, 0, 0.09);
    position: relative;
}

.box .card {
    border: 0px!important;
}

.box__content {
    padding: 50px 10px 10px 10px;
}

.box__content-heading {
    position: absolute;
    top: 10px;
    left: -10px;
    /* background: linear-gradient(to right, #28a745, #20c997); */
    background: -webkit-linear-gradient(-45deg, #9ff669 0%, #31de79 100%);
    z-index: 1;
}

.box__content-heading::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: linear-gradient(to right, #28a745, #20c997); */
    background: -webkit-linear-gradient(-45deg, #9ff669 0%, #31de79 100%);
    z-index: -1;
    transform: rotate(10deg);
}

.box__content-heading h3 {
    font-size: 18px;
    font-weight: 400;
    color: var(--colorWhite);
    text-shadow: 0 10px 10px rgba(0, 0, 0, .09);
    margin:0;
    padding: 7px 10px;
}

.box__content-ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
}

.box__content-li {
    border-bottom: 1px dotted silver;
    padding: 7px 0;
}

.box-content-a {
    display: block;
    color: #222;
    text-decoration: none;
    font-size: 13px;
    transition: all .5s linear;
}

.box-content-a:hover {
    text-decoration: none;
    transform: translateX(5px);
}

/* === Loader Section === */
#loader {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    background: -webkit-linear-gradient(-45deg, #9ff669 0%, #31de79 100%);
    transition: all .5s linear;
    opacity: .9;
}

.loader__section {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

}

.loader__element {
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border-top: 3px solid #fff;
    border-left: 3px solid #fff;
    border-right: 3px solid #fff;
    border-bottom: 3px solid transparent;
    animation: runloader 1s linear infinite;
}

@keyframes runloader {
    100% {
        transform: rotate(360deg);
    }
}

@media(max-width: 765px){
    #boxes .box {
        margin-top: 10px;
    }

    .showCaseHeading .text-left {
        text-align: center!important;
    }
    .showCaseHeading .text-right {
        text-align: center!important;
    }
    .showCaseHeading h4 {
        font-size: 17px;
        font-weight: 300;
        margin-bottom: 10px;
    }
    #assetsHeading h1 {
        font-size: 18px;
    }
}

@media(max-width: 991.98px){
    
}